.blue{
    display: inline-block;
    height: 600px;
    width: 300px;
    background-color: #001489;
    margin-top: 50px;
    left: 200px;
    position: relative;
}
.white{
    display: inline-block;
    height: 600px;
    width: 300px;
    background-color:#FFFFFF;
    margin-top: 50px;
    left: 200px;
    position: relative;
}
.red{
    display: inline-block;
    background-color: #EF3340; 
    height: 600px; 
    width: 300px;
    margin-top: 50px;
    left: 200px;
    position: relative;
}