
.madagascar{
    padding-left: 200px;
    margin-top: 50px;
    margin-left: 293px;
    margin-right: 475px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 
}
.red{
    display: block;
    background-color: #FC3D32;
    height: 200px;
    width: 450px;
}
.green{
    display: block;
    background-color: #007E3A;
    height: 200px;
    width: 450px;
}