
.orange{
    background-color: rgb(224,82,6);
    height: 180px;
    width: 700px;
    margin-bottom: 180px;
    display: block;
    margin-left: 380px;
    margin-top: 50px;
}
.green{
    background-color: rgb(13,176,43);
    height: 180px;
    width: 700px;
    display: block;
    margin-left: 380px;
}
.orange-cirlce{
    background-color: rgb(224,82,6);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 245px;
    left:650px;
}