.red{
    background-color: red;
    height: 600px;
    width: 600px;
    margin-left: 430px;
    margin-top: 50px;
}
.cross-vertical{
    background-color: white;
    height: 300px;
    width: 90px;
    left: 702px;
    top: 200px;
    position: absolute;

 }
 .cross-horizontal{
     background-color: white;
     height: 90px; 
     width: 300px;
     left: 597px;
     top: 300px;
     position: absolute;
 }
