.blue{
    background-color: #004B87;
    height: 500px;
    width: 800px;
    margin-left: 350px;
    margin-top: 50px;
}
.yellow-vertical{
    background-color: #FFCD00;
    height: 500px;
    width: 90px;
    top: 50px;
    left: 550px;
    position: absolute;

}
.yellow-horizontal{
    background-color: #FFCD00;
    height: 90px;
    width: 800px;
    top: 250px;
    left: 358px;
    position: absolute;
}